html {
	font-family: 'Lato', sans-serif;
	background-color: #101010;
	width: 100vw;
	height: 100vh;
	color: #fefefe;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

img {
	padding-bottom: 20px;
	width: 150px;
}

input[type="text"], button, select, select option {
	font-family: 'Lato';
}

button:hover {
	cursor: pointer;
}

input[type="text"] {
	padding-bottom: 5px;
    margin: 15px;
    border: 0;
    border-bottom: 3px solid #BF55EC;
    color: #efefef;
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    text-align: center;
    animation-name: inputText;
    animation-duration: 1s;
}

input[type="text"]:focus {
	outline: none;
}

@keyframes inputText {
	from {width: 0;}
	to {width: 200px;}
}

.songSubmitButton {
	display: block;
	animation-name: fade;
	animation-duration: 1s;
	opacity: 1;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

@keyframes fade {
	from {opacity: 0;}
	to {opacity: 1;}
}

.songSubmitButton:disabled {
	color: #444;
	border: 1px solid #444;
	cursor: default;
}

select {
	appearance:button;
	-moz-appearance:button; /* Firefox */
	-webkit-appearance:button; /* Safari and Chrome */
	padding: 10px;
	padding-right: 20px;
	background-color: #101010;
	background: url('arrow-01.png') no-repeat right;
	color: #efefef;
	margin-right: 20px;
}

select option {
	background-color: #101010;
	color: #efefef;
}

button {
	background-color: rgba(0,0,0,0);
	color: #efefef;
	padding: 10px;
	border: 1px solid #efefef;
}

button:focus {
	outline: 0;
}

#navigation {
	text-align: center;
	margin-top: 50px;
}

#sessions, #songQ {
	margin-left: auto;
	margin-right: auto;
	width: 65vw;
	text-align: center;
}

.SongQueue {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid white;
  display: inline-block;
  max-height: 40vh;
  overflow-y: auto;
  text-overflow: ellipsis;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0px 5px;
}

.SongQueue .active {
  background-attachment: fixed;
  background-color: #BF55EC;
  /* background: red; /* For browsers that do not support gradients  */
  /*	background: -webkit-linear-gradient(left top, #F399C1, #F8A46D); /* For Safari 5.1 to 6.0 */
  /*	background: -o-linear-gradient(bottom right, #F399C1, #F8A46D); /* For Opera 11.1 to 12.0 */
  /*	background: -moz-linear-gradient(bottom right, #F399C1, #F8A46D); /* For Firefox 3.6 to 15 */
  /*  background: linear-gradient(to bottom right, #F399C1, #F8A46D); /* Standard syntax */
}

.SongQueue .active td {
	font-weight: 900;
}

.SongQueue tr {
	background-color: #202020;
	margin: 10px;
	padding: 10px;
}

.SongQueue tr td {
	width: 20vw;
	padding: 10px;
	margin-top: 10px;
	font-weight: 300;
}

.SongQueue tr td:first-child {
	width: 5vw;
}

.SongQueue tr td:nth-child(2) {
	font-weight: 900;
}

.SongQueueHolder {
	text-align: center;
}

.SongQueueHolder button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.SongQueue::-webkit-scrollbar {
	width: 10px;
} 

.SongQueue::-webkit-scrollbar-track {
	border: 1px solid white;
/*	border-radius: 12px;
*/} 

.SongQueue::-webkit-scrollbar-thumb {
/*	border-radius: 12px;
*/	background-color: white;
}

.SongQueueHolder form {
	border: 1px solid white;
	padding-bottom: 20px;
} 

@media screen and (max-width: 750px) {
	img {
		width: 100px;
	}

	select {
		display: block;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}

	#songQ {
		margin: 0;
		width: 100vw;
	}

	.SongQueue {
		width: 100%;
		overflow-x: hidden;
	}

	.SongQueue tr td{
		display: block;
		width: 100vw;
		text-align: center;
		line-height: 100%;
		padding: 0;
		padding-top: 2px;
		padding-bottom: 2px;
	}

	.SongQueue tr td:first-child {
		width: 100%;
	}

	.SongQueue tr td:nth-child(2) {
		font-weight: 900;
	}

	.SongQueue tr td:last-child {
		padding-bottom: 10px;
	}

	input[type="text"] {
		width: 90vw;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}

	@keyframes inputText {
	from {width: 0;}
	to {width: 90vw;}
	}
}