html{
	font-family: "Roboto";
	text-align: center;
	background-color: #FFFFFF;
}

h1{
	font-family: "Sacramento";
	font-size: 100px;
	margin-bottom: 0px;
	color: #BC8DBF;

}
h3{
	font-family: "Sacramento";
	font-size: 60px;
	margin-bottom: 0px;
	color: #BC8DBF;

}

p{
}

span{
	font-size: 20px;
}

ul {
    list-style-position: inside;
}

img{
	max-height: 500px;
	max-width: 500px;
}

#wrap{
	width: 100%;
	height: 50px;
	margin: 0;
	z-index: 99;
	position: relative;
	background-color: #BC8DBF;
}

.navbar{
	height: 50px;
	padding: 0;
	margin: 0;
	position: absolute;
}

.navbar li{
	height: auto;
	width: 145px;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
	color: #FFFFFF;
}

.navbar a{
	padding: 15px;
	border-left: 1px solid #FFA3D1;
	border-right: 1px solid #E68AB8;
	text-decoration: none;
	color: #FFFFFF;
	display: block;
}

 .navbar li:hover, a:hover{
 	background-color: #FFADD6;
}

.navbar li ul{
	display: none; 
	height: auto;									
	margin: 0; 
	padding: 0; 			
}				

.navbar li:hover ul{
	display: block; /* Displays the drop-down box when the menu item is hovered over */
}

 .navbar li ul li{
 	background-color: #F49AC2;
} 

.navbar li ul li a{
	border-left: 1px solid #FFA3D1; 
	border-right: 1px solid #FFA3D1; 
	border-top: 1px solid #FFA3D1; 
	border-bottom: 1px solid #FFB8DB; 
}
				
.navbar li ul li a:hover{
	background-color: #FFC2E0;
}